h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--09101-d, #09101d);
  font-family: var(--font-pretendard), sans-serif;
  font-style: normal;
  line-height: 170%;
}

body {
  font-size: 12rem;
  line-height: 170%;
}
