:root {
  --be-7346: #be7346;
  --09101-d: #09101d;
  --ff-8-f-43: #ff8f43;
  --ffb-17-b: #ffb17b;
  --ffddc-7: #ffddc7;
  --fff-4-ec: #fff4ec;
  --ffb-25-c: #ffb25c;
  --ffc-98-d: #ffc98d;
  --ffe-8-ce: #ffe8ce;
  --FFF3E7: #fff3e7;
  --d-29-d-7-e: #d29d7e;
  --ebd-5-c-7: #ebd5c7;
  --ebd-5-c-7: #ebd5c7;
  --f-8-f-1-ec: #f8f1ec;
  --f-6-f-6-f-6: #f6f6f6;
  --ffffff: #ffffff;
  --fff-7-ef: '#fff7ef';
  --798087: #798087;
  --a-9-a-9-a-9: #b1b7bd;
  --e-3-e-7-eb: #e3e7eb;
  --F4F6F9: #f4f6f9;
  --ffffff: #ffffff;
  --8-b-8-ca-0: #8b8ca0;

  --f-4-f-6-f-9: #f4f6f9;
  --414751: #414751;
  // Drop shadow
  --drop-shadow1: 20rem 20rem 60rem 0px rgba(139, 140, 160, 0.40), 5rem 5rem 15rem 0px rgba(139, 140, 160, 0.15);
  --drop-shadow2: 5rem 5rem 10rem 0px rgba(139, 140, 160, 0.25), 10rem 10rem 30rem 0px rgba(139, 140, 160, 0.15);
  --drop-shadow3: 5rem 5rem 10rem 0px rgba(139, 140, 160, 0.25), 2rem 2rem 5rem 0px rgba(139, 140, 160, 0.10);
  --drop-shadow4: 5rem 5rem 10rem 0px rgba(139, 140, 160, 0.25), 2rem 2rem 5rem 0px rgba(139, 140, 160, 0.10), -1px -1px 2rem 0px rgba(255, 255, 255, 0.25);
  --drop-shadow5: 2rem 2rem 5rem 0px rgba(139, 140, 160, 0.25);
}

