.solutionsSection {
  width: 100%;
  padding: 69px 0 98px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #db6a05;
  mix-blend-mode: multiply;
}
.solutionsSection li,
.smallNoteContent,
.sectionSubTitle {
  color: #212121;
  font-size: 16px;
  line-height: 26px;
}
.sectionTitle,
.sectionSubTitle {
  color: #fff;
  text-align: center;
}
.sectionSubTitle {
  margin-bottom: 28px;
  font-weight: 400;
}
.sectionTitle {
  font-family:
    var(--font-Pretendard-bold),
    -apple-system,
    BlinkMacSystemFont,
    'Malgun Gothic',
    sans-serif;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 86px;
}

.sectionTitle .highLight {
  color: #212121;
}

.maxWidthContent {
  width: 648px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desNote,
.smallNote {
  position: relative;
  width: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.desNote {
  padding-left: 50px;
  height: 106.5px;
  margin-bottom: 40px;
}
.smallNote {
  padding-left: 26px;
  width: 272px;
  height: 100px;
  gap: 8px;
}

.desNoteBg,
.smallNoteBg {
  width: 247px;
  position: absolute;
  background: #ffeca9;
  z-index: -1;
  left: 39px;
}
.desNoteBg {
  height: 106px;
  top: -2px;
  transform: skewY(-1.1deg);
}
.smallNoteBg {
  height: 100px;
  top: -1.5px;
  transform: skewY(-0.7deg);
}

.desNote::before,
.smallNote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #efdd9b;
  z-index: -1;
}

.desNote::after,
.smallNote::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(100% + 15px + 11px);
  background: var(--gradient-1);
  opacity: 0.46;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  z-index: -2;
}

.solutionButton {
  background-color: #fff;
  color: #212121;
}
.sectionContentCol {
  position: relative;
}
.sectionContentCol > img {
  position: absolute;
  z-index: -1;
  left: 52%;
  bottom: 102px;
  width: 13px;
}
@media (max-width: 767px) {
  .solutionsSection li,
  .smallNoteContent,
  .sectionSubTitle {
    font-size: 14px;
    line-height: 24px;
  }
  .sectionTitle {
    font-size: 24px;
    line-height: 30px;
    padding: 0 0 20px;
  }
  .sectionTitle span:first-child {
    display: block;
    width: 100%;
  }
  .sectionTitle span:last-child {
    display: block;
    width: 100%;
  }
  .solutionsSection {
    padding: 40px 0 60px;
  }
  .sectionTitle {
    margin-bottom: 66px;
  }
  .maxWidthContent {
    width: 100%;
    margin-bottom: 60px;
    padding: 10px;
    flex-direction: column;
  }
  .sectionContentCol > img {
    transform: translateX(-45%);
  }
  .maxWidthContent .sectionContentCol:first-child {
    margin-bottom: 120px;
  }
  .desNoteBg,
  .smallNoteBg {
    width: 240px;
    height: 105;
  }
  .smallNote,
  .desNote {
    width: 240px;
  }
  .desNoteBg,
  .smallNoteBg {
    left: 19px;
  }
  .desNote::before,
  .smallNote::before {
    width: 20px;
  }
  .desNote::after,
  .smallNote::after {
    width: calc(100% + 25px);
  }
}
