.GridCardSection {
  padding: 130rem 0;
  background-color: var(--ffc-98-d);

  :global {
    .gridCardSection_b-container {
      padding: 0 20rem;
      max-width: 1280rem;
      margin: 0 auto;
      box-sizing: content-box;

      .gridCardSection_b-head {
        margin-bottom: 40rem;
        text-align: center;

        h2 {
          font-size: 30rem;
          font-weight: 700;
          line-height: 140%;
          letter-spacing: -1px;

          &:first-child {
            color: var(--ffffff, #fff);
          }
        }
      }

      .gridCardSection_b-body {
        margin-bottom: 40rem;

        ul {
          li {
            list-style: none;
            border-radius: 20rem;
            background: var(--ffffff, #fff);
            box-shadow:
              20rem 20rem 60rem 0rem rgba(139, 140, 160, 0.4),
              5rem 5rem 15rem 0rem rgba(139, 140, 160, 0.15);

            margin-bottom: 12rem;
            padding: 20rem 40rem;

            .gridCardSection-title {
              margin-bottom: 8rem;
              display: flex;
              text-align: center;
              align-items: center;

              img {
                width: 50rem;
                height: auto;
                margin-right: 6rem;
              }

              h4 {
                color: var(--be-7346, #f6871f);
                font-size: 20rem;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: -0.2rem;
              }
            }

            p {
              color: var(--798087, #798087);
              font-size: 16rem;
              font-weight: 500;
              word-break: keep-all;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .gridCardSection_b-foot {
        text-align: center;

        button {
          display: inline-flex;
          background: var(--09101-d, #09101d);
          min-width: 280rem;
          color: var(--ffffff, #fff);

          &:hover {
            color: var(--ffffff, #fff);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .GridCardSection {
    padding: 160rem 0;

    :global {
      .gridCardSection_b-container {
        .gridCardSection_b-head {
          margin-bottom: 80rem;

          h2 {
            font-size: 48rem;
          }
        }

        .gridCardSection_b-body {
          margin-bottom: 60rem;

          ul {
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            li {
              margin-bottom: 0;
              padding: 40rem;
              width: 400rem;

              .gridCardSection-title {
                margin-bottom: 8rem;
                display: block;

                img {
                  width: 300rem;
                  margin-right: 0;
                  margin-bottom: 12rem;
                }

                h4 {
                  font-size: 26rem;
                }
              }

              p {
                font-size: 18rem;
                white-space: pre-line;
              }
            }
          }
        }

        .gridCardSection_b-foot {
          button {
            min-width: 328rem;
          }
        }
      }
    }
  }
}