@import '@/app/styles/_mixin';

.IntroductionSection {
  padding: 48rem 0;
  background-image: linear-gradient(80deg,rgba(24,17,17,0.5) 0%,rgba(2,0,0,0.3) 100%),url('/imagesN/home.jpg');
  background-position: 50%;
  background-size: 100%;
  background-size: cover;
  height: auto;
  min-height: 278px;
  max-height: none;
  position: relative;
  &:after {
    content: "";
    background-size: cover;
    background-position: right 0% top;
    background-repeat: no-repeat;
    background-image: url('/imagesN/colbolt-background.png');
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
}
 
  :global {
    .introduction-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32rem;

      .introduction_b-content {
        z-index: 1;
        .introduction-top {
          text-align: center;
          margin-bottom: 30rem;
          h1 {
            @include H1_34pt_bold;
            margin-bottom: 8rem;
            color: #fff;
            
          }

          p {
            @include P1_18pt_regular;
            color: var(--414751);
            color: #fff;
          }
        }

        .introduction-bottom {
          display: flex;
          justify-content: center;
          gap: 8rem;

          button {
            height: 48rem;
            font-size: 16rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .IntroductionSection {
    padding: 80rem 0;
    min-height: 75vh;
    :global {
      .introduction-container {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        gap: 110rem;
        max-width: 1280rem;
        margin: auto;

        .introduction_b-content {
          animation: slide-left 0.5s ease forwards;
          .introduction-top {
            text-align: left;

            h1 {
              @include H1_56pt_bold;
              color: #fff;
              margin-bottom: 16rem;
              text-align: right
            }

            p {
              @include P1_20pt_medium;
              color: #fff;
              text-align: right
            }
          }

          .introduction-bottom {
            justify-content: flex-start;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            gap: 10rem;
          }
        }

        .introduction_b-content {
          display: flex;
          width: 400rem;
          height: 560rem;
          margin-left: auto;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }
  }
}
@keyframes slide-left {
  /* use % to specify the animation at different stages (in this case, 0% and 100%) */
  0% {
    transform: translateX(0);
  }
  100% {
    /* adjust the value to control how much the text moves */
    transform: translateX(-100rem);
  }
}