.BenefitBlock {
  border-radius: 20rem;
  background: var(--ffffff, #fff);
  box-shadow:
    20rem 20rem 60rem 0rem rgba(139, 140, 160, 0.4),
    5rem 5rem 15rem 0rem rgba(139, 140, 160, 0.15);
  padding: 30rem 20rem;

  :global {
    .benefitBlock_b-head {
      margin-bottom: 20rem;
      padding-left: 10rem;
      h3 {
        font-size: 24rem;
        line-height: 140%;
        letter-spacing: -0.24rem;
        white-space: break-spaces;
        word-break: keep-all;
        max-width: 200rem;
      }
    }
    .benefitBlock_b-body {
      padding: 20rem;
      border-radius: 12rem;
      background: var(--ebd-5-c-7, #ebd5c7);
      box-shadow:
        5rem 5rem 10rem 0rem rgba(139, 140, 160, 0.25),
        2rem 2rem 5rem 0rem rgba(139, 140, 160, 0.1);

      .benefitBlock_b-top {
        margin-bottom: 20rem;
        position: relative;
        h4 {
          font-size: 18rem;
          font-weight: 700;
          line-height: 140%;
          max-width: 65%;
          margin-bottom: 4rem;
        }
        p {
          color: var(--414751, #414751);
          font-size: 12rem;
          font-style: normal;
          font-weight: 500;
        }
        .benefitBlock-right {
          position: absolute;
          right: 0;
          top: 0;
          display: flex;
          .benefitBlock-noti {
            margin-right: 6rem;
            img {
              width: 24rem;
              height: 24rem;
            }
          }
          .benefitBlock-acount {
            display: flex;
            align-items: center;
            padding: 0 8rem;
            border-radius: 5.12rem;
            background: var(--ffffff, #fff);
            height: 24rem;
            img {
              width: 12rem;
              height: auto;
              margin-right: 2rem;
            }
            p {
              font-size: 7rem;
              line-height: 24rem;
              font-weight: 700;
            }
          }
        }
      }
      .benefitBlock_b-bot {
        ul {
          li {
            margin-bottom: 8rem;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 12rem;
            background: var(--ffffff, #fff);
            padding: 16rem;
            box-shadow:
              5rem 5rem 10rem 0rem rgba(139, 140, 160, 0.25),
              2rem 2rem 5rem 0rem rgba(139, 140, 160, 0.1);

            .benefitBlock_b {
              width: 80%;
              .benefitBlock-title {
                font-size: 12rem;
                font-weight: 600;
              }
              .benefitBlock-sub {
                font-size: 7rem;
                font-weight: 400;
                color: var(--a-9-a-9-a-9, #b1b7bd);
              }
            }
            h4 {
              width: 20%;
              color: var(--be-7346, #be7346);
              text-align: right;
              font-size: 18rem;
              font-weight: 700;
              line-height: 140%;
            }
          }
        }
        .benefitBlock_b-column {
          border-radius: 12rem;
          background: var(--ffffff, #fff);
          box-shadow:
            5rem 5rem 10rem 0rem rgba(139, 140, 160, 0.25),
            2rem 2rem 5rem 0rem rgba(139, 140, 160, 0.1);
          padding: 16rem;
          .benefitBlock-head {
            position: relative;
            margin-bottom: 16rem;
            .benefitBlock-title {
              font-size: 12rem;
              font-weight: 600;
            }
            .benefitBlock-sub {
              color: var(--a-9-a-9-a-9, #b1b7bd);
              font-size: 7rem;
              font-weight: 400;
            }
            img {
              position: absolute;
              top: 0;
              right: 0;
              width: 57rem;
              height: auto;
            }
          }
          .benefitBlock_chart-img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .BenefitBlock {
    border-radius: 40rem;
    padding: 80rem 40rem 0;
    :global {
      .benefitBlock_b-head {
        margin-bottom: 60rem;
        padding-left: 40rem;
        h3 {
          font-size: 40rem;
          max-width: 100%;
        }
      }
      .benefitBlock_b-body {
        padding: 50rem 58rem 48rem;
        border-radius: 16rem 16rem 0 0;

        .benefitBlock_b-top {
          margin-bottom: 60rem;
          position: relative;
          h4 {
            font-size: 26rem;
            margin-bottom: 11rem;
          }
          p {
            font-size: 18rem;
          }
          .benefitBlock-right {
            .benefitBlock-noti {
              margin-right: 9rem;
              img {
                width: 36rem;
                height: 36rem;
              }
            }
            .benefitBlock-acount {
              padding: 0 12rem;
              border-radius: 5.12rem;
              background: var(--ffffff, #fff);
              height: 36rem;
              img {
                width: 24rem;
                margin-right: 4rem;
              }
              p {
                font-size: 12rem;
                line-height: 36rem;
              }
            }
          }
        }
        .benefitBlock_b-bot {
          display: flex;
          ul {
            width: 347rem;
            margin-right: 12rem;
            li {
              margin-bottom: 12rem;
              border-radius: 20rem;
              padding: 20rem 32rem 23rem 24rem;
              min-height: 130rem;
              // display: block;
              .benefitBlock_b {
                // width: 100%;
                .benefitBlock-title {
                  font-size: 20rem;
                  margin-bottom: 1px;
                }
                .benefitBlock-sub {
                  font-size: 12rem;
                }
              }
              h4 {
                // width: 100%;
                font-size: 26rem;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .benefitBlock_b-column {
            width: 745rem;
            border-radius: 20rem;
            padding: 20rem 24rem 24rem;
            .benefitBlock-head {
              position: relative;
              margin-bottom: 16rem;
              .benefitBlock-title {
                font-size: 20rem;
              }
              .benefitBlock-sub {
                font-size: 12rem;
              }
              img {
                width: 95rem;
              }
            }
          }
        }
      }
    }
  }
}
