@import '@/app/styles/_mixin';

.InventorySavingBlock {
  padding: 40rem;
  border-radius: 20rem;
  background: #fff;
  box-shadow:
    20rem 20rem 60rem 0rem rgba(139, 140, 160, 0.4),
    5rem 5rem 15rem 0rem #8b8ca026;
  width: 100%;
  &:first-child {
    margin-bottom: 10rem;
  }
  :global {
    
    .inventorySavingBlock_b-body {
      display: flex;
      flex-direction: column;
      gap: 20rem;
      h4 {
        color: var(--798087, #798087);
        font-size: 16rem;
        margin: 0;
        padding: 10rem 15rem;
        background: var(--ffe-8-ce, #ffe8ce);
        border-radius: 8rem;
        overflow: hidden;
        border-bottom: 1px solid #f0f0f0;
      }
      ul {
         li {
          list-style: none;
            position: relative;
           border-bottom: 1px solid #f0f0f0;
           padding: 20rem 15rem;
           &:last-child {
            border-bottom: none;
           }
          p {
            color: var(--798087, #798087);
            font-size: 12rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-transform: uppercase;
            span {
              white-space: break-spaces;
            }
          }
        
        
        }
 
      }
      .inventorySavingBlock-sub {
        color: var(--414751, #414751);
        text-align: center;
        font-size: 10rem;
        font-weight: 500;
      }
      .inventorySavingBlock-note {
        @include p4_10pt_regular;
        color: var(--a-9-a-9-a-9);
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .InventorySavingBlock {
    border-radius: 40rem;
    width: calc(50% - 20rem);
    
    :global {
      .inventorySavingBlock_b-body {
        ul {
          li {
            width: 100%;
            p {
              font-size: 16rem;
            }
          }
         
        }
        .inventorySavingBlock-sub {
          font-size: 14rem;
        }
        .inventorySavingBlock-note {
          @include P4_14pt_medium;
        }
      }
    }
  }
}
