.TimeSpentBlock {
  padding: 30rem 20rem;
  border-radius: 20rem;
  background: var(--f-6-f-6-f-6, #f6f6f6);
  box-shadow:
    20rem 20rem 60rem 0rem rgba(139, 140, 160, 0.4),
    5rem 5rem 15rem 0rem rgba(139, 140, 160, 0.15);
  :global {
    .timeSpentBlock_b-head {
      margin-bottom: 27rem;
      h3 {
        font-size: 24rem;
        line-height: 140%;
        letter-spacing: 0.24rem;
      }
    }
    .timeSpentBlock_b-body {
      .timeSpentBlock_b-top {
        p {
          color: var(--414751, #414751);
          font-size: 16rem;
          font-weight: 600;
          width: 100%;
          text-align: center;
        }
      }
       .timeSpentBlock-vs {
        padding: 20rem 0;
        color: var(--798087, #798087);
        font-size: 10rem;
        font-weight: 500;
      }
      .timeSpentBlock_b-bot {
        max-width: 700rem;
        margin: auto;
         p {
          font-size: 16rem;
          font-weight: 600;
          color: var(--414751, #414751);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .TimeSpentBlock {
    padding: 80rem;
    border-radius: 40rem;
    background: var(--ffffff, #fff);

    :global {
      .timeSpentBlock_b-head {
        margin-bottom: 60rem;
        text-align: center;
        h3 {
          font-size: 40rem;
          letter-spacing: -1px;
        }
      }
      .timeSpentBlock_b-body {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 20rem;
        div {
          width: 25%;
        }
        img {
          margin-bottom: 20rem;
        }
        p {
          font-size: 20rem;
          font-weight: 500;
        }
      }
      .timeSpentBlock_b-bot {
        p {
          font-size: 16rem;
        }
      }
    }
  }
}
