@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-display: swap;
  src:
    local('Montserrat Black'),
    url(../fonts/woff2/Montserrat-Black.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-Black.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-display: swap;
  src:
    local('Montserrat ExtraBold'),
    url(../fonts/woff2/Montserrat-ExtraBold.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-ExtraBold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-display: swap;
  src:
    local('Montserrat Bold'),
    url(../fonts/woff2/Montserrat-Bold.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-display: swap;
  src:
    local('Montserrat SemiBold'),
    url(../fonts/woff2/Montserrat-SemiBold.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-display: swap;
  src:
    local('Montserrat Medium'),
    url(../fonts/woff2/Montserrat-Medium.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  src:
    local('Montserrat Regular'),
    url(../fonts/woff2/Montserrat-Regular.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-display: swap;
  src:
    local('Montserrat Light'),
    url(../fonts/woff2/Montserrat-Light.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-Light.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-display: swap;
  src:
    local('Montserrat ExtraLight'),
    url(../fonts/woff2/Montserrat-ExtraLight.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-ExtraLight.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-display: swap;
  src:
    local('Montserrat Thin'),
    url(../fonts/woff2/Montserrat-Thin.woff2) format('woff2'),
    url(../fonts/woff/Montserrat-Thin.woff) format('woff');
}