.OperationSlider {
  padding: 130rem 0 60rem;
  background-color: var(--ffc-98-d);
  position: relative;
  min-height: 827rem;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 300rem;
    width: 100%;
    background: radial-gradient(
      62.17% 62.17% at 50.23% -2.65%,
      rgba(255, 166, 68, 0.5) 0%,
      rgba(255, 166, 68, 0) 89.06%
    );
    background-blend-mode: multiply;
  }
  :global {
    .swiper-container {
      position: relative;
      z-index: 1;
      .swiper_b-head {
        text-align: center;
        h2 {
          font-size: 30rem;
          font-weight: 700;
          line-height: 140%;
          letter-spacing: -1px;
          color: var(--be-7346);
          &:last-child {
            color: var(--09101-d);
          }
        }
      }
      .swiper_b-body {
        position: relative;
      }
    }
  }
}

.SingleBlockWrapper {
  padding: 40rem 30rem 70rem 20rem;
}

.SingleBlock {
  margin-bottom: 16rem;
  background-color: var(--ffffff);
  box-shadow:
    20rem 20rem 60rem 0 rgba(139, 140, 160, 0.4),
    5rem 5rem 15rem 0 rgba(139, 140, 160, 0.15);
  border-radius: 20rem;
  :global {
    .block_b-container {
      padding: 30rem 5rem;
      text-align: center;
    }
    .block_b-head {
      font-size: 18rem;
      font-weight: 700;
      margin-bottom: 20rem;
    }
    .block_b-content {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        li {
          list-style: none;
          p {
            font-size: 14rem;
            font-weight: 500;
            height: 34rem;
            line-height: 34rem;
            border-radius: 100rem;
            padding: 0 16rem;
          }
        }
      }
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.SingleImage {
  min-height: 443rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  :global {
    img {
      width: 184rem;
      height: 273rem;
      transform: translateY(64rem);
    }
  }
}

@media (min-width: 768px) {
  .OperationSlider {
    padding: 160rem 0 104rem;
    min-height: 834rem;
    &::before {
      height: 230rem;
      background: radial-gradient(
        62.17% 62.17% at 50.23% -2.65%,
        rgba(255, 166, 68, 0.5) 0%,
        rgba(255, 166, 68, 0) 89.06%
      );
    }
    :global {
      .swiper-container {
        .swiper_b-head {
          margin-bottom: 80rem;
          h2 {
            font-size: 48rem;
          }
        }
      }
    }
  }

  .SingleBlockWrapper {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40rem;
  }

  .SingleBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300rem;
    height: 300rem;
    border-radius: 50%;
    margin-bottom: 0;
    :global {
      .block_b-container {
        padding: 20rem;
        margin-bottom: 0;

        .block_b-head {
          font-size: 20rem;
          margin-bottom: 33rem;
        }
        .block_b-content {
          ul {
            display: block;
            li {
              display: inline-block;
              text-align: center;
              p {
                font-size: 16rem;
                height: 36rem;
                line-height: 36rem;
                padding: 0 20rem;
              }
              &:first-child {
                margin-right: 12rem;
                margin-bottom: 12rem;
              }
            }
          }
        }
      }
    }
  }
  .SingleImage {
    min-height: 300rem;
    :global {
      img {
        width: 240rem;
        height: 356rem;
        transform: translateY(0);
      }
    }
  }
}
